<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head(~{::title})">
    <title>Страница</title>
</head>
<body>
<nav th:replace="base::navigation"></nav>
<header th:replace="base::headerbig"></header>
<p sec:authorize="hasRole('USER')">
    <span sec:authentication="name"></span>,
    Вы можете добавлять события и тд
</p>
<p sec:authorize="hasRole('ADMIN')">
    <span sec:authentication="name"></span>,
    Вы можете добавлять пользователей
</p>
<!--<img th:src="@{/img/spring.jpg}">-->

<script  th:src="@{/js/index.js}"></script>
</body>
</html>