<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head(~{::title})">
    <title>Sign In</title>
</head>
<body>
<nav th:replace="base::navigation"></nav>
<header th:replace="base::headersmall(content='Sign In', subheading='Already registered?')"></header>
<div class="content">
    <div class="login-page">
        <div class="form">
            <form class="login-form" th:method="POST" th:action="@{/auth/login}">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <input name="username" type="text" class="form-control" id="username" placeholder="Введите логин">
                <input name="password" type="password" class="form-control" id="password" placeholder="Введите пароль">
                <button>login</button>
                <p class="message">Not registered? <a th:href="@{/auth/registration}">Create an account</a></p>
            </form>
        </div>
    </div>
</div>
<hr th:replace="base::hr"/>
<header th:replace="base::footer"></header>
</body>
</html>